/* body {
  margin: 0;
} */

body {
  margin: 0;
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}
  /* BEGIN NEW NAV */
  nav {
    background-image:
      linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    /* min-height: 80px; */
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav li:hover {
    background-color: hsl(0, 30%, 1%);
    box-shadow: 0 0 10px 0 hsl(0, 30%, 1%);
    transition: ease-in 0.4s;
  }
  
  nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    /* background-color: blue; */
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    /* border: 3px solid green;  */

  }
  
  nav li.dropdown {
    display: inline-block;
  }
  
  nav .dropdown-content {
    display: none;
    position: absolute;
    background-image:
      linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    min-width: 160px;
    z-index: 1;
  }
  
  nav .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* text-align: left; */
  }
  
  nav .dropdown:hover .dropdown-content {
    display: block;
  }

  nav .dropdown-content a:hover {
    background-color: hsl(0, 30%, 1%);
    box-shadow: 0 0 10px 0 hsl(0, 30%, 1%);
    transition: ease-in 0.4s;
  }

  
  /* END NEW NAV */
  

  /* main-container */
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .main-left {
    width: 50%;
  }
  .main-left p {
    font-size: 18px;
  }
  .main-right {
    width: 50%;
  }
  .main-right img {
    max-width: 100%;
    height: auto;
  }

  .main-caption {
    margin-top: 0;
    font-size: 14px;
    text-align: center;
    padding: .5rem;
    background-color: #c0c0c2;
    color:black;
  }

  .main-bottom {
    width: 100%;
    margin-top: 20px;
    margin-left: 40px;
  }
  
  .main-bottom h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .main-bottom ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  .main-bottom li {
    margin-bottom: 10px;
  }
  #toggleButton {
    /* position: absolute; */
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  /* Smaller screen size from here */
  @media screen and (max-width: 940px) {
    .nav-name {
      display: none;
    }
    .nav-name-hidden {
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
      padding: 0 1rem;
      /* border: 3px solid yellow; */
      position: absolute; 
      left: 0;
      height: 80px;
      display: flex;
      align-items: center;
    }
  }



  /* .nav-links {
    color: '#fff';
    display: 'flex';
    align-items: 'center';
    text-decoration: 'none';
    padding: '0.5rem 1rem';
    height: '100%';
  } */
  
  /* .navbar-logo {
    color: '#fff';
    justify-self: 'start';
    cursor: 'pointer';
    text-decoration: 'none';
    font-size: '2rem';
    display: 'flex';
    align-items: 'center';
    height: '100%';
  } */